<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- DEVELOPMENT -->
    <add name="AAB_GEN_DB" connectionString="Data Source=localhost;Initial Catalog=AAB_GEN_DB;User=sa;Password=Bcsbcs99;Trusted_Connection=False;"/>
    <!-- PRODUCTION -->
    <!--<add name="AAB_GEN_DB" connectionString="Data Source=192.168.42.16;Initial Catalog=AAB_GEN_DB;User=sa;Password=Bcsbcs99;Trusted_Connection=False;"/>-->
  </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.51" />
    </startup>
</configuration>